<h1>
  List of All Movies
</h1>

<hr>

<form action="/insert_movie" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <div>
    <label for="title_box">
      Title
    </label>
    <input type="text" id="title_box" name="query_title" required>
  </div>

  <div>
    <label for="year_box">
      Year
    </label>
    <input type="number" id="year_box" name="query_year" required>
  </div>

  <div>
    <label for="duration_box">
      Duration
    </label>
    <input type="number" id="duration_box" name="query_duration" required>
  </div>

  <div>
    <label for="description_box">
      Description
    </label>
    <textarea id="description_box" name="query_description" rows="3"></textarea>
  </div>

  <div>
    <label for="image_box">
      Image
    </label>
    <input type="url" id="image_box" name="query_image">
  </div>

  <div>
    <label for="director_id_box">
      Director ID
    </label>
    <input type="number" id="director_id_box" name="query_director_id">
  </div>

  <button type="submit">
    Create movie
  </button>
</form>

<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>
    <th>
      Image
    </th>
    <th>
      Title
    </th>
    <th>
      Year
    </th>
    <th>
      Director
    </th>
    <th>
    </th>
  </tr>

  <% @list_of_movies.each do |a_movie| %>
  <tr>
    <td>
      <%= a_movie.id %>
    </td>
    <td>
      <% if a_movie.image.present? %>
        <img src="<%= a_movie.image %>" alt="<%= a_movie.title %>" style="width:250px;">
      <% else %>
        No image available
      <% end %>
    </td>
    <td>
      <%= a_movie.title %>
    </td>
    <td>
      <%= a_movie.year %>
    </td>
    <td>
      <% if a_movie.director.present? %>
        <%= a_movie.director.name %>
      <% else %>
        No director assigned
      <% end %>
    </td>
    <td>
      <a href="/movies/<%= a_movie.id %>">
        Show Details
      </a>
    </td>
  </tr>
  <% end %>
</table>
